body {

  padding: 20px 40px;

  font-family: "Verdana";

  text-align: center;

  background-color:#e6e6e6;

}

.list-inline li{

    display:inline;

}

h1 {

  margin: 20px;

}



.secretWord {

  margin-top: 20px;

  margin-bottom: 40px;

  font-size: 3rem;

}



.letter-button:disabled {

  opacity: 0.5;

  color: black;

}



#guessesLeft {

    font-weight: bold;

    color: red;

}



.buttonCentered {

    text-align: center;

}





.socialButton{

	width:60px;

	height:60px;

	border:0;

	padding: 8px;

}

.socialButton:hover {

  background-color: #ddd;	/* looks cool */

  color: black;

}



#instructions {

  font-family: palantino;

  color: grey;

  text-align: left;

  font-style: italic;

  font-size: 14px;

  list-style-type: square;

}



ul.a {

    list-style-type: none;

    margin-top: 0px;

    margin-bottom: 0px;

}



ul.b {

    list-style-type: square;

    margin-top: 0px;

    margin-bottom: 0px;

}
